body {
    background-color: white;
    font-family: "Poppins";
    color: #000000;
    text-align: center;
}

/* -----------Heading------------*/

.relative-div {
    position: relative;
}

.heading {
    font-size: 1.9rem;
    background-color: #b1b1b1;
    width: 85%;
    height: 130px;
    margin: auto;
    margin-top: 37px;
}

.heading-div {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading h1 {
    padding: 1%;
}

.gradient-text {
    background: -webkit-linear-gradient(#000000, #00c8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.logo {
    height: 3.2rem;
    display: inline-block;
}

/*-----------top right corner buttons----------*/

.top-button {
    position: absolute;
    right: 9%;
    top: 9%;
    height: 30px;
    width: 50px;
    cursor: pointer;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 6px;
}

.top-button:hover {
    color: #00c8ff;
    border: 2px solid #00c8ff;
  }

.top-button:active {  
    background: -webkit-linear-gradient(#000000, #00c8ff);
    -webkit-background-clip: padding-box;
    -webkit-text-fill-color: #ffffff;
    border: none;
}

#btn-hints {
    top: 36%;
}

#btn-reset {
    top: 63%;
}

/*-----------overlay----------*/

#hint-overlay, #rules-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00000080;
    cursor: pointer;
}

#hint-overlay-text, #rules-overlay-text {
    position: absolute;
    background-color: #b1b1b1;
    margin: auto;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 30px;
}

#close-this-window {
    font-size: 0.5rem;
}

.rules-button {
    height: 30px;
    width: 50px;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 6px;
}

.rules-play-again-button {
    height: 35px;
    width: 110px;
    color: #ffffff;
    background-color: #2525253c;
    border-radius: 6px;
    border: none;
    font-size: 1.1rem;
}

/* ----------Game layout---------*/

.game-area {
    align-content: center;
    width: 85%;
    background-color: #b1b1b1;
    margin: auto;
}

.pic-guess-area {
    max-width: 80%;
    background-color: transparent;
    height: 252px;
    margin: auto;
}

#pic-area {
    background-color: transparent;
    margin: auto;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pic-area img {
    height: 100%;
}

.play-area {
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: auto;
}

#word-input {
    width: 100%;
    height: 20%;
    background-color: transparent;
    margin: 5px auto;
    font-size: 1.5rem;
    color:#000000;
    background: -webkit-linear-gradient(#000000, #00c8ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*-----------keyboard-----------*/

#key-container {
    width: 100%;
    height: 123px;
    background-color: transparent;
    margin: auto;
}

#key-container button {
    height: 35px;
    width: 6%;
    max-width: 55px;
    margin: 3px;
    border-radius: 6px;
    border: none;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #2525253c;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
  
#key-container button:active {
    background-color: #ffffff;
    color: #00c8ff;
}

#key-container button:disabled {
    background: -webkit-linear-gradient(#000000, #00c8ff);
    -webkit-background-clip: padding-box;
    -webkit-text-fill-color: #ffffff;
}

#play-again {
    padding: 2px !important;
    width: 110px !important;
    max-width: 110px !important;
}

#play-again:active {
    background: -webkit-linear-gradient(#000000, #00c8ff);
    -webkit-background-clip: padding-box;
    -webkit-text-fill-color: #ffffff;
}

/*--------score area--------*/

.score-area {
    background-color: transparent;
    width: 80%;
    margin: auto;
    height: 5vh;
    display: flex;
    position: relative;
}

.scores-div {
        display: flex;
        margin: auto;
}

.scores {
    float: left;
    margin: auto;
    width: 100px;
}

/*----------media query------*/

@media only screen and (max-width: 950px) {
    #rules-overlay-text {
        font-size: 0.7rem;
        padding: 10px;
    }

    .rules-button {
        height: 20px;
        width: 50px;
        font-size: 0.7rem;
    }

    .rules-play-again-button {
        height: 20px;
        width: 90px;
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 850px) {
    .heading {
        font-size: 1.7rem;
    }

    .logo {
        height: 2.5rem;
    }
}

@media only screen and (max-width: 515px) {
    .heading {
        font-size: 1.3rem;
    }

    .logo {
        height: 2rem;
    }
}

@media only screen and (max-width: 420px) {
    .heading {
        font-size: 1rem;
    }

    .logo {
        height: 1.5rem;
    }

    .top-button {
        height: 25px;
        width: 35px;
        font-size: 0.5rem;
    }
}

@media only screen and (max-width: 375px) {
    #rules-overlay-text {
        font-size: 0.5rem;
        padding: 7px;
    }
    
    .rules-button {
        height: 15px;
        width: 40px;
        font-size: 0.5rem;
    }

    .rules-play-again-button {
        height: 15px;
        width: 70px;
        font-size: 0.5rem;
    }

    #word-input {
        font-size: 1.2rem;
    }

    #pic-area img{
        height: 85%;
    }
    
    .pic-guess-area {
        height: 214px;
    }

    #guess-animal {
        margin-top: 0px;
    }
    
}


@media only screen and (max-width: 350px) {
    .heading {
        font-size: 0.8rem;
    }

    .logo {
        height: 1.2rem;
    }
}