body {
    background-color: white;
    font-family: "Poppins";
    color: #000000;
    text-align: center;
}

/* -----------Heading------------*/

.relative-div {
    position: relative;
}

.heading {
    font-size: 3rem;
    background-color: #b1b1b1;
    width: 85%;
    height: 80px;
    margin: auto;
    margin-top: 30px;
    padding-top: 45px;
    padding-bottom: 25px;
}

.logo {
    height: 2.5rem;
}

/*-----------top right corner buttons----------*/

.top-buttons {
    position: absolute;
    right: 9%;
    top: 9%;
    height: 30px;
    width: 50px;
    cursor: pointer;
    color: #000000;
    border: 2px solid #000000;
    border-radius: 6px;
}

.top-buttons:hover {
    color: #00c8ff;
    border: 2px solid #00c8ff;
  }

#btn-hints {
    top: 33%;
}

#btn-reset {
    top: 57%;
}

/*-----------overlay----------*/

#hint-overlay, #rules-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}

#hint-overlay-text, #rules-overlay-text {
    position: absolute;
    background-color: white;
    margin: auto;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 30px;
}

#close-this-window {
    font-size: 0.5rem;
}

/* ----------Game layout---------*/

.game-area {
    align-content: center;
    width: 85%;
    background-color: #b1b1b1;
    margin: auto;
}

.pic-guess-area {
    max-width: 80%;
    background-color: transparent;
    height: 252px;
    margin: auto;
}

#pic-area {
    background-color: transparent;
    margin: auto;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pic-area img {
    height: 100%;
}

.play-area {
    background-color: transparent;
    width: 100%;
    height: 30vh;
    margin: auto;
}

#word-input {
    width: 100%;
    height: 20%;
    background-color: transparent;
    margin: 5px auto;
    font-size: 1.5rem;
}

/*-----------keyboard-----------*/

#key-container {
    width: 100%;
    height: 123px;
    background-color: transparent;
    margin: auto;
}

#key-container button {
    height: 35px;
    width: 6%;
    max-width: 55px;
    margin: 3px;
    border-radius: 6px;
    border: none;
    font-size: 1.1rem;
    color: #ffffff;
    background-color: #2525253c;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
}
  
#key-container button:active {
    background-color: #ffffff;
    color: #00c8ff;
    border: 2px solid #00c8ff;
}

#key-container button:disabled {
    background-color: #00c8ff;
}

#play-again {
    padding: 2px !important;
    width: 110px !important;
    max-width: 110px !important;
}

/*--------score area--------*/

.score-area {
    background-color: transparent;
    width: 80%;
    margin: auto;
    height: 5vh;
    display: flex;
    position: relative;
}

.scores-div {
        display: flex;
        margin: auto;
}

.scores {
    float: left;
    margin: auto;
    width: 100px;
}

/*----------media query------*/

@media only screen and (max-width: 720px) {
    .heading {
        font-size: 2rem;
    }

    .logo {
        height: 2rem;
    }
}

@media only screen and (max-width: 540px) {
    .heading {
        font-size: 1.5rem;
    }

    .logo {
        height: 1.5rem;
    }
}

@media only screen and (max-width: 445px) {
    .heading {
        font-size: 1rem;
    }

    .logo {
        height: 1rem;
    }
}